# قاعدة البيانات
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="https://murabaat.iwings-digital.com/"                
NEXTAUTH_SECRET="your-secret-key-here-change-in-production-morabbat-2024"

# البريد الإلكتروني (اختياري)
EMAIL_SERVER_HOST="sandbox.smtp.mailtrap.io"
EMAIL_SERVER_PORT="465"
EMAIL_SERVER_USER="ea5e889c44ba6e"
EMAIL_SERVER_PASSWORD="e84baea01d14dd"
EMAIL_FROM="noreply@morabbat.com"

# رفع الملفات (اختياري)
UPLOAD_MAX_SIZE="5242880"
ALLOWED_FILE_TYPES="image/jpeg,image/png,image/webp"
